################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWord/.vs/HelloWord/v16
/HelloWord/HelloWord/obj/Debug
/HelloWord/HelloWord.sln
